<div class="row">
	<div class="col-md-12"><h4>AddOns <a style="font-size: 14px;margin-left: 15px;" ui-sref="base.create-room"><i class="fa fa-plus nrr-btn-add"></i><span>Add New AddOns</span></a></h4></div>
	<div class="col-md-3" ng-repeat="addOns in addOnsList track by $index">
		<div class="room-rateplan-box room-box">
			<div class="room-rateplan-box-name">{{addOns.name}}</div>
			<div class="room-rateplan-box-img">
				<img ng-if="addOns.url" ng-src="{{addOns.url}}" alt="{{addOns.name}}" class="img-responsive" />
				<img ng-if="!addOns.url" ng-src="images/no-image.jpg" alt="{{addOns.name}}" class="img-responsive" />
				<div class="view-room-controls">
					<button type="button" ng-click="deleteAddOns(addOns.id);"><i class="fa fa-times"></i></button>
					<button type="button" ng-click="editAddOns(addOns.id);"><i class="fa fa-pencil"></i></button>
				</div>
			</div>
			<div class="room-rateplan-box-desc">
				<p>{{addOns.description}}</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="room-rateplan-box room-box">
			<div class="new-room-rateplan new-room">
				<div class="nrr-btn-wrapper">
					<div class="nrr-btn" >
						<a ui-sref="base.create-room">
							<i class="fa fa-plus nrr-btn-add"></i>
							<span>Add New AddOns</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>