<div class="row searched-bookings-table">
	<div class="col-md-12">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
                                        <th>Type</th>
					<th>Rating</th>
					<th>Country</th>
					<th>State</th>
					<th>City</th>
                                        <th>Locality</th>
					<th>Zipcode</th>
				</tr>
			</thead>
                        <tbody>
				<tr>
					<td>{{basicDetails.name}}</td>
					<td>{{basicDetails.description}}</td>
					<td>{{basicDetails.hotel_type}}</td>
					<td>{{basicDetails.start_rating}}</td>
					<td>{{basicDetails.country}}</td>
					<td>{{basicDetails.state}}</td>
					<td>{{basicDetails.city}}</td>
                                        <td>{{basicDetails.locality}}</td>
                                         <td>{{basicDetails.zipcode}}</td>
				</tr>
			</tbody>
			
	</div>
</div>
