<div class="col-md-4 col-md-offset-4" ng-if="false">
    <form class="well" method="post" ng-submit="loginSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="">Email</label>
                    <div class="">
                        <input type="text" class="form-control" ng-model="email_id" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="">Password</label>
                    <div class="">
                        <input type="password" class="form-control" ng-model="password" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group tac">
                    <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> Login</button>
                </div>
                <div ng-if="invalidLogin" class="tac" style="color: red;">Invalid Email or Password</div>
            </div>
        </div>
    </form>
</div>
    
    <!-- BEGIN LOGIN SECTION -->
    <section class="section-account">
        <div class="login-bg-img" style="background-image: url('http://www.codecovers.eu/assets/img/modules/materialadmin/img16.jpg')"></div>
        <div class="card contain-sm style-transparent">
            <div class="card-body login-card">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 login-container" ng-if="loginForm" >
                        <span class="text-lg text-bold text-primary app-logo">Goomo</span>
                        <br/><br/>
                        <form class="form floating-label" accept-charset="utf-8" method="post" ng-submit="loginSubmit()">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <div>
                                    <input autocomplete="off" type="text" class="form-control" id="email_id" name="email_id" ng-model="loginDetails.email_id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <div>
                                    <input autocomplete="off" type="password" class="form-control" id="password" name="password" ng-model="loginDetails.password">
                                </div>
                                <p class="help-block"><a href="#">Forgotten?</a></p>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <div class="checkbox checkbox-inline checkbox-styled">
                                        <label>
                                            <input type="checkbox" ng-model="loginDetails.rememberMe"> <span>Remember me</span>
                                        </label>
                                    </div>
                                </div><!--end .col -->
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary btn-raised" type="submit">Login</button>
                                </div><!--end .col -->
                            </div><!--end .row -->
                            <div class="row">
                                <div class="col-md-12 tac login-reg-link-wrapper">
                                    First time here? <span class="lr-link" ng-click="loginOrRegistration('registration');">Create your account</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div ng-if="invalidLogin" class="tac" style="color: red;">Invalid Email or Password</div>
                                </div>
                            </div>
                        </form>

                        

                    </div><!--end .col -->
                    <div class="col-md-8 col-md-offset-2 login-container" ng-if="registrationForm" >
                        <span class="text-lg text-bold text-primary app-logo">Goomo</span>
                        <br/><br/>
                        <form class="form-horizontal" accept-charset="utf-8" method="post" ng-submit="registrationSubmit()">
                            <div class="form-group">
                                <label for="firstName" class="col-md-4 control-label" >First Name</label>
                                <div class="col-md-7">
                                    <input autocomplete="off" type="text" class="form-control" id="firstName" name="firstName" ng-model="registrationDetails.firstName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastName" class="col-md-4 control-label" >Last Name</label>
                                <div class="col-md-7">
                                    <input autocomplete="off" type="text" class="form-control" id="lastName" name="lastName" ng-model="registrationDetails.lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="typeOfUser" class="col-md-4 control-label" >Type of User</label>
                                <div class="col-md-7">
                                    <select ng-model="registrationDetails.typeOfUser" name="typeOfUser" class="form-control">
                                        <option value="">Select</option>
                                        <option value="1">Travel Agent</option>
                                        <option value="2">Hotelier</option>
                                        <option value="3">Corporate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email_id" class="col-md-4 control-label" >Email ID</label>
                                <div class="col-md-7">
                                    <input autocomplete="off" type="text" class="form-control" id="emailId" name="emailId" ng-model="registrationDetails.emailId">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email_id" class="col-md-4 control-label" >Mobile</label>
                                <div class="col-md-7">
                                    <input autocomplete="off" type="text" class="form-control" id="mobile" name="mobile" ng-model="registrationDetails.mobile">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-md-4 control-label" >Password</label>
                                <div class="col-md-7">
                                    <input autocomplete="off" type="password" class="form-control" id="password" name="password" ng-model="registrationDetails.password">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="confirmPassword" class="col-md-4 control-label" >Confirm Password</label>
                                <div class="col-md-7">
                                    <input autocomplete="off" type="password" class="form-control" id="confirm_password" name="confirmPassword" ng-model="registrationDetails.confirmPassword">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12 tac">
                                    <button class="btn btn-primary btn-raised" type="submit">Submit</button>
                                </div><!--end .col -->
                            </div><!--end .row -->
                            <div class="row">
                                <div class="col-md-12 tac login-reg-link-wrapper">
                                    Already have an account? <span class="lr-link" ng-click="loginOrRegistration('login');">Login</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!--end .row -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
    <!-- END LOGIN SECTION -->

