
.rateplan-box {
    position: relative;
    margin-bottom: 10px;
    height: 285px;
}

.rateplan-box-name {
    color: #fff;
    font-size: 16px;
    padding: 5px 10px;
    background: #1abc9c;
    width: 100%;
    top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    text-shadow: none;
    white-space: nowrap;
    border: 1px solid #ddd;
    border-bottom: 0;
    line-height: 1.27777;
}

.rateplan-box-desc {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    height: 110px;
    color: #888;
    font-size: 12px;
    margin-top: -1px;
}

.rateplan-box-details {
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    color: #888;
    font-size: 12px;
    margin-top: -1px;
}

.rateplan-box-controls {
    width: 100%;
    border: 1px solid #ddd;
    border-top: 0;
    float: left;
}

.rateplan-box-controls .btn {
    width: 50%;
    float: left;
    background: #fff;
    border: 0;
}

.rp-label{
  color: #333;
}

.rateplan-box-details p{
  margin-bottom: 2px;
}

.rateplan-box-desc p{
  margin: 0;
}

.new-room-rateplan {
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    height: 100%;
    position: relative;
}

.nrr-btn-wrapper{
  position: absolute;
  top: 100px;
  left: 0;
  text-align: center;
  width: 100%;
}

.nrr-btn{
  cursor: pointer;
}

.nrr-btn span{
  display: block;
}

.nrr-btn i{
  border: 1px solid #ddd;
  padding: 20px;
  height: 55px;
  border-radius: 50%;
  width: 55px;
  background: #f6f6f6;
}

.nrr-btn:hover i.nrr-btn-add{
  color: green;
  border-color: green;
}