<form class="well" >
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Hotels</label>
				<div class="">
					<input type="text" class="form-control" ng-model="contract.hotel_id" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Note*</label>
				<div class="">
					<textarea class="form-control" ng-model="contract.note"> </textarea>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Contract Type</label>
				<div class="">
					<label><input type="radio" ng-model="contract.contract_type" value="true" /> INSTANT</label>
					<label><input type="radio" ng-model="contract.contract_type" value="false" /> ON-DEMAND</label>
				</div>
			</div>
		</div>
		
	</div>	
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success" ng-click="saveAddOns();"><i class="fa fa-save"></i> Save</button>
			</div>
		</div>
	</div>
</form>
