<div class="row">
	<div class="col-md-12"><h4>Rooms</h4></div>
	<div class="col-md-3" ng-repeat="room in rooms track by $index">
		<div class="room-rateplan-box room-box">
			<div class="room-rateplan-box-name">{{room.name}}</div>
			<div class="room-rateplan-box-img">
				<img src="/images/{{room.src}}" alt="Room name" class="img-responsive" />
			</div>
			<div class="room-rateplan-box-desc">
				<p>{{room.desc}}</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="room-rateplan-box room-box">
			<div class="new-room-rateplan new-room">
				<div class="nrr-btn-wrapper">
					<div class="nrr-btn" ng-click="addRoomForm();">
						<i class="fa fa-plus nrr-btn-add"></i>
						<span>Add New Room</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form class="well">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Start date</label>
				<div class="">
					<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="start_date" 
					is-open="start_date_popup.opened" datepicker-options="dateOptions" ng-required="true" 
					close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_start()"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">End date</label>
				<div class="">
					<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="end_date" 
					is-open="end_date_popup.opened" datepicker-options="dateOptions" ng-required="true" 
					close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_end()"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Room Type</label>
				<div class="">
					<select class="form-control">
						<option>Standard</option>
						<option>Deluxe</option>
						<option>Luxury</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Inventory</label>
				<div class="">
					<input type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success"><i class="fa fa-save"></i> Update</button>
			</div>
		</div>
	</div>
</form>
