<div class="row">
	<div class="col-md-12"><h4>Rooms</h4></div>
	<div class="col-md-3" ng-repeat="room in rooms track by $index">
		<div class="room-rateplan-box room-box">
			<div class="room-rateplan-box-name">{{room.name}}</div>
			<div class="room-rateplan-box-img">
				<img src="/images/{{room.src}}" alt="Room name" class="img-responsive" />
			</div>
			<div class="room-rateplan-box-desc">
				<p>{{room.desc}}</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="room-rateplan-box room-box">
			<div class="new-room-rateplan new-room">
				<div class="nrr-btn-wrapper">
					<div class="nrr-btn" ng-click="addRoomForm();">
						<i class="fa fa-plus nrr-btn-add"></i>
						<span>Add New Room</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<form class="well">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Room Name</label>
				<div class="">
					<input type="text" class="form-control" ng-model="room.name"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Description</label>
				<div class="">
					<textarea class="form-control" ng-model="room.desc"> </textarea>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Images</label>
				<div class="">
					<div class="" ng-repeat="roomImages in images track by $index">
						<input type="text" name="" ng-model="img_url" />
						<button type="button" ng-click="addImage()"><i class="fa fa-plus"></i></button>
						<button type="button" ng-click="removeImage($index)" ng-if="$index != 0"><i class="fa fa-minus"></i></button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Room Type</label>
				<div class="">
					<select class="form-control" ng-model="room.type" >
						<option>AC</option>
						<option>NON AC</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Min. Adults</label>
				<div class="">
					<input type="number" ng-model="room.min_adult" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Max. Adults</label>
				<div class="">
					<input type="number" ng-model="room.max_adult" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Amenities</label>
				<div class="">
					<label><input type="checkbox" name=""> Wifi</label>
					<label><input type="checkbox" name=""> Swimming Pool</label>
					<label><input type="checkbox" name=""> Breakfast</label>
					<label><input type="checkbox" name=""> Coffee Maker</label>
					<label><input type="checkbox" name=""> Iron</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success" ng-click="saveAddRoom();"><i class="fa fa-save"></i> Save</button>
			</div>
		</div>
	</div>
</form>
