<form class="well">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Rateplan Name</label>
				<div class="">
					<input type="text" class="form-control" ng-required="true" ng-model="rateplan.name" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Description</label>
				<div class="">
					<textarea class="form-control" ng-required="true" ng-model="rateplan.description" ></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Inclusions</label>
				<div class="">
					<div class="inc-exc-row" ng-repeat="inclusion in rateplan.inclusions track by $index">
						<div class="input-group" >
							<input type="text" class="form-control" ng-model="inclusion.name"/>
							<span class="input-group-btn" ng-if="$index == 0">
								<button type="button" class="btn btn-default" ng-click="addInclusion()" ><i class="fa fa-plus"></i></button>
							</span>
							<span class="input-group-btn" ng-if="$index != 0">
								<button type="button" class="btn btn-default" ng-click="rateplan.inclusions.splice($index, 1)" ><i class="fa fa-minus"></i></button>
							</span>
						</div>
					</div>
					<div ng-if="inclusionValueError" style="color: red;font-size: 12px;">Enter inclusion</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Exclusions</label>
				<div class="">
					<div class="inc-exc-row" ng-repeat="exclusion in rateplan.exclusions track by $index">
						<div class="input-group" >
							<input type="text" class="form-control" ng-model="exclusion.name"/>
							<span class="input-group-btn" ng-if="$index == 0">
								<button type="button" class="btn btn-default" ng-click="addExclusion()" ng-if="$index == 0"><i class="fa fa-plus"></i></button>
							</span>
							<span class="input-group-btn" ng-if="$index != 0">
								<button type="button" class="btn btn-default" ng-click="rateplan.exclusions.splice($index, 1)"><i class="fa fa-minus"></i></button>
							</span>
						</div>
					</div>
					<div ng-if="exclusionValueError" style="color: red;font-size: 12px;">Enter exclusion</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legend>Validity &amp; Blackout</legend>
				<div class="row fieldset-row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Rateplan Validity Start</label>
							<div class="">
								<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rateplan_validity_start" 
								is-open="rateplan_validity_start_popup.opened" datepicker-options="validityStartOptions" ng-required="true" 
								close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rateplan_validity_start()"/>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Rateplan Validity Start</label>
							<div class="">
								<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rateplan_validity_end" 
								is-open="rateplan_validity_end_popup.opened" datepicker-options="validityEndOptions" ng-required="true" 
								close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rateplan_validity_end()" ng-change="validityRangeOfDates();" />
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="">Validity Days of Week</label>
							<div>
								<div class="btn-group">
								    <label class="btn" ng-class="{'btn-primary':bd.checked, 'btn-default': !bd.checked}" 
			    					ng-repeat="bd in rateplan.rp_applicable_days"
			    					ng-model="bd.checked" uib-btn-checkbox>{{bd.name}}</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Rateplan Cut-off days</label>
							<div class="">
								<input type="text" class="form-control" ng-model="rateplan.cut_off_days" ng-required="true" />
							</div>
						</div>
					</div>
					<div class="col-md-12" ng-if="showBlackoutFields">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<label class="">Rateplan Blackout Start</label>
									<div class="">
										<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rp_blackout_validity_start" 
										is-open="rp_blackout_validity_start_popup.opened" datepicker-options="blackoutStartOptions" ng-required="true" 
										close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rp_blackout_validity_start()" ng-change="setMinDate();"/>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label class="">Rateplan Blackout End</label>
									<div class="">
										<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rp_blackout_validity_end" 
										is-open="rp_blackout_validity_end_popup.opened" datepicker-options="blackoutEndOptions" ng-required="true" 
										close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rp_blackout_validity_end()" ng-change="blackoutRangeOfDates();" />
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label class="">&nbsp;</label>
									<div class="">
										<button type="button" class="btn btn-default" ng-click="pushBlackouts();"><i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" ng-if="showBlackoutFields">
						<div class="form-group">
							<ul>
								<li ng-repeat="br in rateplan.blackout_dates track by $index">
									{{br.start}} - {{br.end}}
									<button type="button" class="btn btn-link" ng-click="rateplan.blackout_dates.splice($index, 1)"><i class="fa fa-times"></i></button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset>
				<legend>Min. &amp; Max. Particulars</legend>
				<div class="row fieldset-row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Min. Adult</label>
							<div class="">
								<input ng-model="rateplan.min_adults" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Max. Adult</label>
							<div class="">
								<input ng-model="rateplan.max_adults" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Min. LOS</label>
							<div class="">
								<input ng-model="rateplan.min_los" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Max. LOS</label>
							<div class="">
								<input ng-model="rateplan.max_los" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Min. No. of Rooms</label>
							<div class="">
								<input ng-model="rateplan.min_no_of_rooms" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Max. No. of Rooms</label>
							<div class="">
								<input ng-model="rateplan.max_no_of_rooms" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">

		<div class="col-md-3">
			<div class="form-group">
				<label class="">&nbsp;</label>
				<div class="">
					<label><input type="checkbox" name="" ng-model="rateplan.allow_modification" /> Allow modification</label>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="form-group">
				<label class="">Cancellation Policy</label>
				<div class="row" ng-repeat="cp in rateplan.cancellation_policy">
					<div class="col-md-2">
						<div class="form-group">
							<label class="fwn">From</label>
							<div>
								<select class="form-control input-sm"
								    ng-options="option.id for option in cp.from_checkin track by option.id"
								    ng-model="fromSelected"></select>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="fwn">To</label>
							<div>
								<select class="form-control input-sm"
								    ng-options="option.id for option in cp.to_checkin track by option.id"
								    ng-model="toSelected"></select>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="fwn">Amount Type</label>
							<div>
								<select class="form-control input-sm"
								    ng-options="option.name for option in cp.amount_type track by option.id"
								    ng-model="typeSelected"></select>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="fwn">Amount</label>
							<div>
								<input ng-model="cp.amount" name="" class="form-control input-sm" />
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group">
							<label class="fwn">&nbsp;</label>
							<div>
								<button class="btn btn-sm" type="button" ng-click="addCP();"><i class="fa fa-plus"></i></button>
							</div>
						</div>
					</div>
				</div>
				<div ng-if="cpError">Please enter valid amount</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success" ng-click="saveAddRateplan();"><i class="fa fa-save"></i> Save</button>
			</div>
		</div>
	</div>
</form>