<form class="well">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Rateplan Name</label>
				<div class="">
					<input type="text" class="form-control" ng-required="true" ng-model="rateplan.name" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Description</label>
				<div class="">
					<textarea class="form-control" ng-required="true" ng-model="rateplan.desciption" ></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<fieldset>
				<legend>Validity &amp; Blackout</legend>
				<div class="row fieldset-row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Rateplan Validity Start</label>
							<div class="">
								<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rateplan_validity_start" 
								is-open="rateplan_validity_start_popup.opened" datepicker-options="validityStartOptions" ng-required="true" 
								close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rateplan_validity_start()"/>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Rateplan Validity Start</label>
							<div class="">
								<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rateplan_validity_end" 
								is-open="rateplan_validity_end_popup.opened" datepicker-options="validityEndOptions" ng-required="true" 
								close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rateplan_validity_end()" ng-change="validityRangeOfDates();" />
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label class="">Validity Days of Week</label>
							<div>
								<div class="btn-group">
								    <label class="btn" ng-class="{'btn-primary':bd.checked, 'btn-default': !bd.checked}" 
			    					ng-repeat="bd in rateplan.rp_applicable_days"
			    					ng-model="bd.checked" uib-btn-checkbox>{{bd.name}}</label>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Rateplan Cut-off days</label>
							<div class="">
								<input type="text" class="form-control" ng-model="rateplan.cut_off_days" ng-required="true" />
							</div>
						</div>
					</div>
					<div class="col-md-12" ng-if="showBlackoutFields">
						<div class="row">
							<div class="col-md-5">
								<div class="form-group">
									<label class="">Rateplan Blackout Start</label>
									<div class="">
										<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rp_blackout_validity_start" 
										is-open="rp_blackout_validity_start_popup.opened" datepicker-options="blackoutStartOptions" ng-required="true" 
										close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rp_blackout_validity_start()" ng-change="setMinDate();"/>
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<label class="">Rateplan Blackout End</label>
									<div class="">
										<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="rateplan.rp_blackout_validity_end" 
										is-open="rp_blackout_validity_end_popup.opened" datepicker-options="blackoutEndOptions" ng-required="true" 
										close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_rp_blackout_validity_end()" ng-change="blackoutRangeOfDates();" />
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label class="">&nbsp;</label>
									<div class="">
										<button type="button" class="btn btn-default" ng-click="pushBlackouts();"><i class="fa fa-plus"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12" ng-if="showBlackoutFields">
						<div class="form-group">
							<ul>
								<li ng-repeat="br in blackoutsRangeList track by $index">
									{{br.start}} - {{br.end}}
									<button type="button" class="btn btn-link" ng-click="blackoutsRangeList.splice($index, 1)"><i class="fa fa-times"></i></button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset>
				<legend>Min. &amp; Max. Particulars</legend>
				<div class="row fieldset-row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Min. Adult</label>
							<div class="">
								<input ng-model="rateplan.min_adult" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Max. Adult</label>
							<div class="">
								<input ng-model="rateplan.max_adult" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Min. LOS</label>
							<div class="">
								<input ng-model="rateplan.min_los" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Max. LOS</label>
							<div class="">
								<input ng-model="rateplan.max_los" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Min. No. of Rooms</label>
							<div class="">
								<input ng-model="rateplan.min_no_of_rooms" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="">Max. No. of Rooms</label>
							<div class="">
								<input ng-model="rateplan.max_no_of_rooms" type="number" ng-pattern="/^\d+$/" ng-maxlength="200" name="" class="form-control" />
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Inclusions</label>
				<button type="button" class="btn btn-link" ng-click="addInclusion()"><i class="fa fa-plus"></i> Add Inclusion</button>
				<div class="">
					<div class="" ng-repeat="inclusion in rateplan.inclusions track by $index">
						<div class="input-group" >
							<input type="text" ng-model="inclusion.name"/>
							<button type="button" class="btn btn-link btn-sm" ng-click="rateplan.inclusions.splice($index, 1)" ng-if="$index != 0"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<div ng-if="inclusionValueError" style="color: red;font-size: 12px;">Enter inclusion</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Exclusions</label>
				<button type="button" class="btn btn-link" ng-click="addExclusion()"><i class="fa fa-plus"></i> Add Exclusion</button>
				<div class="">
					<div class="" ng-repeat="exclusion in rateplan.exclusions track by $index">
						<div class="input-group" >
							<input type="text" ng-model="exclusion.name"/>
							<button type="button" class="btn btn-link btn-sm" ng-click="rateplan.exclusions.splice($index, 1)" ng-if="$index != 0"><i class="fa fa-minus"></i></button>
						</div>
					</div>
					<div ng-if="exclusionValueError" style="color: red;font-size: 12px;">Enter exclusion</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">&nbsp;</label>
				<div class="">
					<label><input type="checkbox" name="" ng-model="rateplan.allow_modification" /> Allow modification</label>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Cancellation Policy</label>
				<div class="">
					<textarea ng-model="rateplan.cancellation_policy" name="" class="form-control" ></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success" ng-click="saveAddRateplan();"><i class="fa fa-save"></i> Save</button>
			</div>
		</div>
	</div>
</form>