<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="form-group">
			<select class="form-control">
				<option>Hotel Vythiri Village</option>
				<option>Hotel Krishna</option>
			</select>
		</div>
	</div>
</div>

<form class="form-horizontal well well-sm">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="col-md-5 control-label">Type</label>
				<div class="col-md-7">
					<select class="form-control">
						<option>Booking</option>
						<option>Checkin</option>
						<option>Stay</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="col-md-5 control-label">Start date</label>
				<div class="col-md-7">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="start_date" 
					is-open="start_date_popup.opened" datepicker-options="dateOptions" ng-required="true" 
					close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_start()"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="col-md-5 control-label">End date</label>
				<div class="col-md-7">
					<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="end_date" 
					is-open="end_date_popup.opened" datepicker-options="dateOptions" ng-required="true" 
					close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_end()"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="col-md-5 control-label">Status</label>
				<div class="col-md-7">
					<select class="form-control">
						<option>Confirmed</option>
						<option>Cancelled</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success">Search</button>
				<button type="button" class="btn btn-primary">Download</button>
			</div>
		</div>
	</div>
</form>

<div class="row searched-bookings-table">
	<div class="col-md-12">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th>Booking ID</th>
					<th>Guest Name</th>
					<th>Payment Mode</th>
					<th>Status</th>
					<th>Remark</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="booking in bookingData">
					<td>{{booking.bookingId}}</td>
					<td>{{booking.guestName}}</td>
					<td>{{booking.paymentMode}}</td>
					<td>{{booking.status}}</td>
					<td>{{booking.remark}}</td>
					<td>
					    <div class="btn-group" uib-dropdown is-open="status.isopen">
					      <button id="btn_{{booking.bookingId}}" type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle ng-disabled="disabled"> Action <span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="btn_{{booking.bookingId}}">
					        <li role="menuitem"><a href="#">No Show</a></li>
					        <li role="menuitem"><a href="#">Add Remark</a></li>
					      </ul>
					    </div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>