

<form class="well">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Checkin</label>
				<div class="">
					<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="start_date" 
					is-open="start_date_popup.opened" datepicker-options="dateOptions" ng-required="true" 
					close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_start()"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Checkout</label>
				<div class="">
					<input type="text" class="form-control dp" uib-datepicker-popup="{{format}}" ng-model="end_date" 
					is-open="end_date_popup.opened" datepicker-options="dateOptions" ng-required="true" 
					close-text="Close" alt-input-formats="altInputFormats" ng-focus="open_end()"/>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">No. of Adults</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in noOfAdults track by option.id"
					    ng-model="selectedNoOfAdult"></select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">No. of Children</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in noOfChildren track by option.id"
					    ng-model="selectedNoOfChildren"></select>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Room Type</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in rooms track by option.id"
					    ng-model="selectedRoom"></select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Rate plans</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in ratePlans track by option.id"
					    ng-model="selectedRateplan"></select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Total amount</label>
				<div class="">
					<input type="text" class="form-control" name="" ng-model="totalAmount" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Total tax</label>
				<div class="">
					<input type="text" class="form-control" name="" ng-model="totalTax" />
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Guest name</label>
				<div class="">
					<input type="text" class="form-control" name="" ng-model="guestName" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Guest mobile</label>
				<div class="">
					<input type="text" class="form-control" name="" ng-model="guestMobile" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Guest email</label>
				<div class="">
					<input type="text" class="form-control" name="" ng-model="guestEmail" />
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Guest address</label>
				<div class="">
					<input type="text" class="form-control" name="" ng-model="guestAddress" />
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">No. of rooms</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in noOfRooms track by option.id"
					    ng-model="selectedNoOfRoom"></select>
				</div>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Payment type</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in paymentType track by option.id"
					    ng-model="selectedPaymentType"></select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Segment</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in segmentType track by option.id"
					    ng-model="selectedSegmentType"></select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Source</label>
				<div class="">
					<select class="form-control"
					    ng-options="option.name for option in sourceOfBooking track by option.id"
					    ng-model="selectedSourceOfBooking"></select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Special Request</label>
				<div class="">
					<div class="" >
						<textarea class="form-control" ng-model="specialRequest" ></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success" ng-click="saveManualBooking();">Create</button>
			</div>
		</div>
	</div>
</form>
