<div class="row">
    <!-- BEGIN ALERT - REVENUE -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-info no-margin">
                    <strong class="pull-right text-success text-lg">0,38% <i class="md md-trending-up"></i></strong>
                    <strong class="text-xl">INR 92,829</strong>
                    <br/>
                    <span class="opacity-50">Week's Revenue</span>
                    <div class="stick-bottom-left-right">
                        <div class="height-2 sparkline-revenue" data-line-color="#bdc1c1"></div>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
        </div>
        <!--end .card -->
    </div>
    <!--end .col -->
    <!-- END ALERT - REVENUE -->
    <!-- BEGIN ALERT - VISITS -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-warning no-margin">
                    <strong class="pull-right text-warning text-lg">0,01% <i class="md md-swap-vert"></i></strong>
                    <strong class="text-xl">80</strong>
                    <br/>
                    <span class="opacity-50">Week's Bookings</span>
                    <div class="stick-bottom-right">
                        <div class="height-1 sparkline-visits" data-bar-color="#e5e6e6"></div>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
        </div>
        <!--end .card -->
    </div>
    <!--end .col -->
    <!-- END ALERT - VISITS -->
    <!-- BEGIN ALERT - BOUNCE RATES -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-danger no-margin">
                    <strong class="pull-right text-danger text-lg">0,18% <i class="md md-trending-down"></i></strong>
                    <strong class="text-xl">12</strong>
                    <br/>
                    <span class="opacity-50">Week's Cancellations</span>
                    <div class="stick-bottom-left-right">
                        <div class="progress progress-hairline no-margin">
                            <div class="progress-bar progress-bar-danger" style="width:43%"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end .card-body -->
        </div>
        <!--end .card -->
    </div>
    <!--end .col -->
    <!-- END ALERT - BOUNCE RATES -->
    <!-- BEGIN ALERT - TIME ON SITE -->
    <div class="col-md-3 col-sm-6">
        <div class="card">
            <div class="card-body no-padding">
                <div class="alert alert-callout alert-success no-margin">
                    <h1 class="pull-right text-success"><i class="md md-timer"></i></h1>
                    <strong class="text-xl">Rajesh Kunda</strong>
                    <br/>
                    <span class="opacity-50">Today's Top Seller</span>
                </div>
            </div>
            <!--end .card-body -->
        </div>
        <!--end .card -->
    </div>
    <!--end .col -->
    <!-- END ALERT - TIME ON SITE -->
</div>
<!--end .row -->
<div class="row">
    <!-- BEGIN SITE ACTIVITY -->
    <div class="col-md-6">
        <div class="card ">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-head">
                        <header>This week's bookings</header>
                    </div>
                    <!--end .card-head -->
                    <div class="card-body height-8">

                        <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" chart-series="series" chart-options="options"
                            chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                        <span><span class="fa fa-circle" style="color: #97BBCD"></span> Travel Agent</span> &nbsp; 
                        <span><span class="fa fa-circle" style="color: #DCDCDC"></span> Website</span> &nbsp; 
                        <span><span class="fa fa-circle" style="color: #E45D64"></span> Walk-ins</span>

                        <div id="flot-visitors-legend" class="flot-legend-horizontal stick-top-right no-y-padding"></div>
                        <div id="flot-visitors" class="flot height-7" data-title="Activity entry" data-color="#7dd8d2,#0aa89e"></div>
                    </div>
                    <!--end .card-body -->
                </div>
            </div>
            <!--end .row -->
        </div>
        <!--end .card -->
    </div>
    <!--end .col -->
    <!-- END SITE ACTIVITY -->

<!-- BEGIN SERVER STATUS -->
    <div class="col-md-3">
        <div class="card">
            <div class="card-head">
                <header>Pending Contracts</header>
            </div>
            <!--end .card-head -->
            <div class="card-body no-padding height-8 scroll">
                <ul class="list divider-full-bleed">
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">Akash Kumar <small>Travel Agent</small></div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-cog text-default-light"></i>
                        </a>
                    </li>
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">Noel Philips <small>Travel Agent</small></div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-cog text-default-light"></i>
                        </a>
                    </li>
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">HSBC Bank <small>Corporate</small></div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-cog text-default-light"></i>
                        </a>
                    </li>
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">More...</div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-external-link text-default-light"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--end .card-body -->
        </div>
        <!--end .card -->
    </div>
    <!--end .col -->

    <!-- BEGIN SERVER STATUS -->
    <div class="col-md-3">
        <div class="card">
            <div class="card-head">
                <header>Bookings</header>
            </div>
            <!--end .card-head -->
            <div class="card-body no-padding height-8 scroll">
                <ul class="list divider-full-bleed">
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">Ahmed Junaid <small>21 Jul to 24 Jul</small></div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-cog text-default-light"></i>
                        </a>
                    </li>
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">Sunny Junjunwala <small>22 Jul to 23 Jul</small></div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-cog text-default-light"></i>
                        </a>
                    </li>
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">Chaitra Mittal <small>29 Jul to 30 Jul</small></div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-cog text-default-light"></i>
                        </a>
                    </li>
                    <li class="tile">
                        <div class="tile-content">
                            <div class="tile-text">Satya Pratap <small>05 Jul to 04 Aug</small></div>
                        </div>
                        <a class="btn btn-flat ink-reaction">
                            <i class="fa fa-cog text-default-light"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!--end .card-body -->
        </div>
        <!--end .card -->
    </div>
    <!--end .col -->
    <!-- END SERVER STATUS -->
</div>
<!--end .row -->

<div class="row stats-box" style="display: none;">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Today's Bookings ({{stats.noOfTodaysBookings}})</div>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="tb in todaysBookings">
                        <span class="stats-details-column" title="{{tb.name}}">
							{{tb.checkin}} - 
							{{tb.checkout}}, 
							{{tb.name}}
						</span>
                        <span class="stats-ctrl-column">
							View
						</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Today's Arrivals ({{stats.noOfTodaysArrivals}})</div>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="ta in todaysArrivals">
                        <span class="stats-details-column" title="{{ta.name}}">					
							{{ta.checkin}} - 
							{{ta.checkout}}, 
							{{ta.name}}
						</span>
                        <span class="stats-ctrl-column">
							View
						</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Today's Stay ({{stats.noOfTodaysStay}})</div>
            </div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="ts in todaysStay">
                        <span class="stats-details-column" title="{{ts.name}}">
							{{ts.checkin}} - 
							{{ts.checkout}}, 
							{{ts.name}}
						</span>
                        <span class="stats-ctrl-column">
							View
						</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Bookings Trend</div>
            </div>
            <div class="panel-body stats-graph-box">
                <img src="../images/graph-monthly-temp.png" alt="Bookings Trend Graph" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
