<form class="well" name="fileUploadForm" id="fileUploadForm" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label class="">Select File</label>
				<div class="">
					<input type="file" class="form-control" ng-model="docfile" />
				</div>
			</div>
		</div>
		
		
	<div class="row">
		<div class="col-md-12">
			<div class="form-group tac">
				<button type="button" class="btn btn-success" ng-click="saveImage();"><i class="fa fa-save"></i> Upload</button>
			</div>
		</div>
	</div>
</form>