<!-- BEGIN HEADER-->
<header id="header">
    <div class="headerbar">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a href="http://www.codecovers.eu/materialadmin/dashboards/dashboard">
                            <span class="text-lg text-bold text-primary">Goomo ADMIN</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a onClick="toggleSidebar();" class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        
        <div class="hotellist-dd">
            <div id="hotel-search" class="search-hotels">
                <ui-select ng-model="selectedHotel" class="hotel-list">
                    <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="hotel in (hotels | filter: $select.search) track by hotel.id">
                        <span ng-bind="hotel.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>

        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
                <li>
                    <!-- Search form -->
                    <form class="navbar-search" role="search" style="display: none;">
                        <div class="form-group">
                            <input class="form-control" name="headerSearch" placeholder="Enter your keyword" type="text">
                        </div>
                        <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
                    </form>
                </li>
                <li class="dropdown hidden-xs">
                    <a aria-expanded="false" href="javascript:void(0);" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
                        <i class="fa fa-bell"></i><sup class="badge style-danger">4</sup>
                    </a>
                    <ul class="dropdown-menu animation-expand">
                        <li class="dropdown-header">Today's messages</li>
                        <li>
                            <a class="alert alert-callout alert-warning" href="javascript:void(0);">
                                <img class="pull-right img-circle dropdown-avatar" src="" alt="">
                                <strong>Alex Anistor</strong>
                                <br>
                                <small>Testing functionality...</small>
                            </a>
                        </li>
                        <li>
                            <a class="alert alert-callout alert-info" href="javascript:void(0);">
                                <img class="pull-right img-circle dropdown-avatar" src="" alt="">
                                <strong>Alicia Adell</strong>
                                <br>
                                <small>Reviewing last changes...</small>
                            </a>
                        </li>
                    </ul>
                    <!--end .dropdown-menu -->
                </li>
                <!--end .dropdown -->
            </ul>
            <!--end .header-nav-options -->
            <ul class="header-nav header-nav-profile">
                <li class="dropdown" uib-dropdown>
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="profile-setting" uib-dropdown-toggle>
                        <img src="images/avatar1.jpg" alt="">
                        <span class="profile-info">
                        Ghanshyam Pathak
                        <small>Hotelier</small>
                    </span>
                    </a>
                    <ul class="dropdown-menu animation-dock" uib-dropdown-menu role="menu" aria-labelledby="profile-setting">
                        <li><a href="javascript:void(0);"><i class="fa fa-user"></i> My Account</a></li>
                        <li><a href="javascript:void(0);"><i class="fa fa-key"></i> Change Password</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:void(0);" ng-click="logout()"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
                    </ul>
                    <!--end .dropdown-menu -->
                </li>
                <!--end .dropdown -->
            </ul>
        </div>
        <!--end #header-navbar-collapse -->
    </div>
</header>
<!-- END HEADER-->
<!-- BEGIN OFFCANVAS RIGHT -->
<div class="offcanvas">
    <!-- BEGIN OFFCANVAS SEARCH -->
    <div id="offcanvas-search" class="offcanvas-pane width-8">
        <div class="offcanvas-head">
            <header class="text-primary">Search</header>
            <div class="offcanvas-tools">
                <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                    <i class="md md-close"></i>
                </a>
            </div>
        </div>
        <div class="offcanvas-body no-padding">
            <ul class="list ">
                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text"><strong>A</strong></div>
                    </div>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Alex Nelson
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Ann Laurens
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text"><strong>J</strong></div>
                    </div>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Jessica Cruise
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Jim Peters
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text"><strong>M</strong></div>
                    </div>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Mabel Logan
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Mary Peterson
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Mike Alba
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text"><strong>N</strong></div>
                    </div>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Nathan Peterson
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text"><strong>P</strong></div>
                    </div>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Philip Ericsson
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
                <li class="tile divider-full-bleed">
                    <div class="tile-content">
                        <div class="tile-text"><strong>S</strong></div>
                    </div>
                </li>
                <li class="tile">
                    <a class="tile-content ink-reaction" href="#offcanvas-chat" data-toggle="offcanvas" data-backdrop="false">
                        <div class="tile-icon">
                            <img src="" alt="" />
                        </div>
                        <div class="tile-text">
                            Samuel Parsons
                            <small>123-123-3210</small>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--end .offcanvas-body -->
    </div>
    <!--end .offcanvas-pane -->
    <!-- END OFFCANVAS SEARCH -->
</div>
<!--end .offcanvas-->
<!-- END OFFCANVAS RIGHT -->


<div ng-controller="HeaderController" style="display: none;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="fluid-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="#">Admin</a>
            </div>
            <div class="hotel-search-wrapper">
                <select class="form-control">
                    <option>Hotel Vythiri Village</option>
                    <option>Hotel Krishna</option>
                </select>
            </div>
            <div id="hotel-search" class="hotel-search">
                <ui-select ng-model="selectedHotel" class="hotel-list" ng-change="hotelChanged($select.selected.id);">
                    <ui-select-match>
                        <span ng-bind="$select.selected.name"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="hotel in (hotels | filter: $select.search) track by hotel.id">
                        <span ng-bind="hotel.name"></span>
                    </ui-select-choices>
                </ui-select>
            </div>
            <!--/.nav-collapse -->
            <ul class="nav navbar-nav navbar-right user-menu-wrapper">
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle user-menu-icon" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="profile-setting" uib-dropdown-toggle><i class="fa fa-user  fa-1x"></i> Beedu <span class="caret"></span></a>
                    <ul class="dropdown-menu user-menu" uib-dropdown-menu role="menu" aria-labelledby="profile-setting">
                        <li class="divider"></li>
                        <li><a href="" ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
